extend layout

block content
  .heading About Us
  p.well.well-lg.box1 Mobile Geeks may be a roaring and growing business at the center of the 
         | movable sector that serves numerous customers through our retail, wholesale and online 
         | activities. For retail customers ‘company name’ has become a saw for mobiles, parts, accessories,
         | services and repairs through our five shops in ontario.
     
    
  p.well.well-lg.box2 Mobile Geeks success thus far has primarily been designed on our dedication 
        | providing a superb clientservice, treating every client as special and going the additional 
        | mile, whenever necessary, to search out the correct product and services.
        | Our responsibility extends beyond the boardroom. 

  p.well.well-lg.box1 Maintaining prime quality and guaranteeing high standards of company responsibility
   | have conjointly served U.S.we have a tendency toll since we came upon over a decade past. 
   | we’ve got gained the international quality system approval ISO 9000: 2001.We strive to create 
   | and maintain shut links with customers and suppliers throughout the availability chain. we have 
   | a tendency to expect all our associates to accommodates international standards of business follow 
   | and to stick to social, moral and environmental responsibilities.

  p.well.well-lg.box2 Mobile Geeks works with all the most network suppliers and makes right across
   | the trade sector. one in all our four current shops may be a Samsung official service centre.



 
  
