block content 
    h1= title 

    form(actions="", method="POST")

      .container
      
            label( for="input_property" ) Property
              input(type="text" name="property" placeholder="property")
            label( for="input_adddress" ) Address
              input(type="text" name="address" placeholder="address")
            label( for="input_ type" )  Type
              input(type="text" name=" type" placeholder="type")
            label( for="input_size" ) Size
              input(type="text" name="size" placeholder="size")
            label( for="input_ownership" ) Ownership
              input(type="text" name="ownership" placeholder="ownership")

            label( for="input_heating" ) Heating
              input(type="text" name="heating" placeholder="heating")
            label( for="input_basement" ) Basement
              input(type="text" name="basement" placeholder="basement")
            label( for="input_flooring" ) Flooring
              input(type="text" name="flooring" placeholder="flooring")
            label( for="input_garage" ) Garage
              input(type="text" name="garage" placeholder="garage")
            label( for="input_inclusions" ) Inclusions
              input(type="text" name="inclusions" placeholder="inclusions")

            label( for="input_foundation" ) Foundation
              input(type="text" name="foundation" placeholder="foundation")
            label( for="input_exterior" ) Exterior
              input(type="text" name="exterior" placeholder="exterior")
            label( for="input_Camera" ) Fronting
              input(type="text" name="camera" placeholder="camera")

            label( for="input_water" ) Water
              input(type="text" name="water" placeholder="water")

            label( for="input_buildinginsurance" ) Insurance
              input(type="text" name="buildinginsurance" placeholder="insurance")

            label( for="input_cabletv" ) Cabletv
              input(type="text" name="cabletv" placeholder="cabletv")

            label( for="input_parkingmaintenance" ) Parking
              input(type="text" name="parkingmaintenance" placeholder="parkingmaintenance")

            label( for="input_description" ) Description
              input(type="text" name="description" placeholder="description")


            input(type="submit" value="ADD" class="AddBtn")
