extends layout

block content
 .container
  .jumbotron 
    h1 MOBILE GEEKS 
    p We're Open And Keeping You Connected
    button.btn.btn-primary.pull-right(type='button') Read More

  .jumbotron
    .display-4
      .row
        .col-md-6
            h2 FEEL THE LOVE WITH iPHONE AND MEMBER BENEFITS.
            p Hook up a hot new phone for $0 down with Sweet Pay on eligible 2-year plans. Taxes extra.
            button.btn.btn-primary(type='button') Shop Phones

        .col-md-6
             h2 GET THAT ‘I LOVE MY NEW PHONE’ FEELING WITH SWEET PAY
             p Hook up a hot new phone for $0 down with Sweet Pay on eligible 2-year plans. Taxes extra.
             button.btn.btn-primary(type='button') Shop Phones

  footer.footer
            span.text-muted Place sticky footer content here.

  



    

 
