doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/build/styles.css')
  body
    block content 
    block scripts 
        script(src='/build/main.js')
        script(src='/build/polyfills.js') 
        script(src='/build/runtime.js') 
        script(src='/build/vendor.js') 