extends layout

block content
    h1 Properties
    ul.list-group
    each item in mobiles 
        li.list-group-item='Property : '+item.property+' Addresss : '+item.address+''
        a(href=`/mobiles/${mobile._id}`) #{item.property}

   