.AddBtn{
    width: 130px;
    margin: 10px;
    padding: 10px 10px;
    color: #FFFFFF;
    background-color: #c81313;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 1s ease;
    border-radius: 4px;
    list-style-type: none;
    outline: none;
    text-decoration: none;  
  }
 .AddBtn:hover {
    text-decoration: none;
    background-color: #A81313;
    color: #FFFFFF;
    transition: 1s ease;
    list-style-type: none;
    outline: none;
  }

form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 0px 50px;
    max-width: 30%;
	height: 100%;
    
	text-align: center;
}
.container {
	background-color: #ffffff;
	border-radius: 4px;
  	box-shadow: 0 10px 20px -7px #606060;
	position: relative;
	overflow: hidden;
	width: 90%;
	height: 80%;
    padding: 10px 30px;
}
input {
	background-color: #eee;
	border: none;
	padding: 20px 20px;
	margin: 20px 0;
	width: 90%;
    border-radius: 4px;
    text-decoration: none;
    color: #222222;
}



