@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,700&display=swap');



.container-fluid{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: .9px;
  background: #FFFFFF;
}
.navbar-brand{
  font-weight: bolder;
  color: #c81313; 
}
li a .navbar-brand{
  color: chartreuse;
}

#myNavbar.navbar-collapse.collapse.navbar-inverse{
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.container .jumbotron{
  width: auto;
  background-color: #222222;
  margin-top: 80px;
  margin-bottom: 80px;
  height: 350px;
}
.container .jumbotron h1{
  font-weight: 700;
  color: #FFFFFF;
  
} 
.container .jumbotron p{
  font-weight: 500;
  color: #FFFFFF;
}
.jumbotron .display-4 .row .col-md-6{
  margin-bottom: 80px;
}
.jumbotron .display-4 .row .col-md-6 h2 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
}
.jumbotron .display-4 .row .col-md-6 p {
  color: #FFFFFF;
  font-size: 20px;
}
button.btn.btn-primary{
  width: 130px;
  margin: 10px;
  padding: 10px 10px;
  color: #FFFFFF;
  background-color: #c81313;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 1s ease;
  border-radius: 4px;
  list-style-type: none;
  outline: none;
}
button.btn.btn-primary:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #c81313;
  transition: 1s ease;
  list-style-type: none;
  outline: none;
}

/* FOOTER*/
.footer {
  bottom: 0;
  width: auto;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: #222222;
}



@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

