<body>
  <div class="container">
    <div class="heading">About</div>
      <div class="container1">
        <p class="well well-lg box1">HomeMavens
          Because of the critical role our agents play in our success, we always strive to 
          provide them with the latest tools and technologies. We offer them strong support with 
          timely information and market data they need plus state-of-the-art marketing tools. 

        </p>
        <p class="well well-lg box2">
          With almost 18,000 agents in more than 600 locations from coast-to-coast, 
          no matter whether you live in a big city or in the country, you’ll find a HomeMavens 
          agent ready and equipped to help you.
        </p>
        </div>

        <div class="container2">
        <p class="well well-lg box1">
          Not only is Royal LePage dedicated to our agents and clients, we also care deeply about 
          the communities in which our agents live and work. We are the only real estate company with
           its own branded charity, the HomeMavens Shelter Foundation, which is dedicated to funding
            women’s shelters and violence prevention and education programs across Canada.
        </p>
        <p class="well well-lg box2">
          Helping You Is What We Do™ is something that we live and breathe at every level. It’s as true today as it was 100 years ago.</p>
        </div>
  </div>
  <footer class="bg-dark text-center text-white">© 2020 Copyright</footer>
</body>