
<html>
    <body>
        <div class="container">
            <div class="heading">Specifications of Property</div>
            <ul>
                <div class="subheading">Home features</div>
                    <div class="single-box1"> 
                        <li class="list-group-item">Property: {{newMobile.property}}</li>
                        <li class="list-group-item">Type: {{newMobile.type}}</li>
                        <li class="list-group-item">Size: {{newMobile.size}}</li>
                        <li class="list-group-item">Ownership: {{newMobile.ownership}}</li>
                    </div>
                
                <div class="subheading">Interior features</div>
                    <div class="single-box2"> 
                        <li class="list-group-item">Heating: {{newMobile.heating}}</li>
                        <li class="list-group-item">Basement: {{newMobile.basement}}</li>
                        <li class="list-group-item">Flooring: {{newMobile.flooring}}</li>
                        <li class="list-group-item">Garage: {{newMobile.garage}}</li>
                        <li class="list-group-item">Inclusions: {{newMobile.inclusions}}</li>
                    </div>


                <div class="subheading">Exterior features</div>
                    <div class="single-box3"> 
                        <li class="list-group-item">Foundation: {{newMobile.foundation}}</li>
                        <li class="list-group-item">Exterior: {{newMobile.exterior}}</li>
                        <li class="list-group-item">Fronting: {{newMobile.fronting}}</li>
                    </div>

                <div class="subheading">Included in Maintenance Fee</div>
                    <div class="single-box4"> 
                        <li class="list-group-item">Water: {{newMobile.water}}</li>
                        <li class="list-group-item">Insurance: {{newMobile.buildinginsurance}}</li>
                        <li class="list-group-item">Cable TV: {{newMobile.cabletv}}</li>
                        <li class="list-group-item">Parking Maintenance: {{newMobile.parkingmaintenance}}</li>
                    </div>
            </ul>
        </div>

        <footer class="bg-dark text-center text-white">© 2020 Copyright</footer>
    </body>
</html>


