<html>
<body>
   <div class="container">
            <form (ngSubmit)="createNewMobile(newMobile)">

                <div class="container1">
                    <div class="heading">Home features</div>

                   
                <label for="name" class="form-label">Property</label>
                <input [(ngModel)]="newMobile.property" id="property" class="form-control" name="property" required minlength="6">
                

                <label for="type" class="form-label">Type</label>
                <input [(ngModel)]="newMobile.type" id="type" class="form-control" name="type" required minlength="6">

                <label for="type" class="form-label">Size</label>
                <input [(ngModel)]="newMobile.size" id="size" class="form-control" name="size" required minlength="6">

                <label for="type" class="form-label">Ownership</label>
                <input [(ngModel)]="newMobile.ownership" id="ownership" class="form-control" name="ownership" required minlength="6">    
                </div>


                <div class="container1">
                    <div class="heading">Interior features</div>
                <label for="type" class="form-label">Heating</label>
                <input [(ngModel)]="newMobile.heating" id="heating" class="form-control" name="heating" required minlength="6">

                <label for="type" class="form-label">Basement</label>
                <input [(ngModel)]="newMobile.basement" id="basement" class="form-control" name="basement" required minlength="6">

                <label for="name" class="form-label">Flooring</label>
                <input [(ngModel)]="newMobile.flooring" id="flooring" class="form-control" name="flooring" required minlength="6">

                <label for="type" class="form-label">Garage</label>
                <input [(ngModel)]="newMobile.garage" id="garage" class="form-control" name="garage" required minlength="6">

                <label for="type" class="form-label">Inclusions</label>
                <input [(ngModel)]="newMobile.inclusions" id="inclusions" class="form-control" name="inclusions" required minlength="6">
                </div>


                <div class="container1">
                    <div class="heading">Exterior features</div>
                <label for="type" class="form-label">Foundation</label>
                <input [(ngModel)]="newMobile.foundation" id="foundation" class="form-control" name="foundation" required minlength="6">

                <label for="type" class="form-label">Exterior</label>
                <input [(ngModel)]="newMobile.exterior" id="exterior" class="form-control" name="exterior" required minlength="6">

                <label for="type" class="form-label">Fronting</label>
                <input [(ngModel)]="newMobile.fronting" id="fronting" class="form-control" name="fronting" required minlength="6">
                </div>

                <div class="container1">
                    <div class="heading">Included in Maintenance Fee </div>
                <label for="type" class="form-label">Water</label>
                <input [(ngModel)]="newMobile.water" id="water" class="form-control" name="water" required minlength="6">

                <label for="name" class="form-label">Insurance</label>
                <input [(ngModel)]="newMobile.buildinginsurance" id="buildinginsurance" class="form-control" name="buildinginsurance" required minlength="6">

                <label for="type" class="form-label">Cable TV</label>
                <input [(ngModel)]="newMobile.cabletv" id="cabletv" class="form-control" name="cabletv" required minlength="6">

                <label for="type" class="form-label">Parking Maintenance</label>
                <input [(ngModel)]="newMobile.parkingmaintenance" id="parkingmaintenance" class="form-control" name="parkingmaintenance" required minlength="6">

                </div>
                
                <button type="submit" class="AddBtn">Create</button>
            </form>
            </div>
        <footer class="bg-dark text-center text-white">© 2020 Copyright</footer>
      
</body>
</html>

